{% extends 'client/base.html' %}
{% block title %} Profile{% endblock title%}

{%block body %}
<div class="row mt-3">

<div class="col-sm-2 offset-1 mt-5">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">7 Days</h5>
    <p class="card-text">Healthy Diet Plans for 7 Days cover all meals, recipes, ingredients etc...</p>
    <form action="/plans/7" method="POST">
      {% csrf_token %}
    <button class="btn btn-primary">Purchase</button> 
    </form>
  </div>
</div>
</div>
<div class="col-sm-2 offset-1 mt-5">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">14 Days</h5>
    <p class="card-text">Healthy Diet Plan for 14 Days cover all meals, recipes, ingredients etc...</p>
    <form action="/plans/14" method="POST">
      {% csrf_token %}
    <button class="btn btn-primary">Purchase</button> 
    </form>
  </div>
</div>
</div>

<div class="col-sm-2 offset-1 mt-5">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">21 Days</h5>
    <p class="card-text">Healthy Diet Plan for 21 Days cover all meals, recipes, ingredients etc...</p>
    <form action="/plans/21" method="POST">
      {% csrf_token %}
    <button class="btn btn-primary">Purchase</button> 
    </form>
  </div>
</div>
</div>

</div>
{% endblock body%}